/*CSS for Navigation Menu Header*/
.nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/*CSS for app top bar*/
.app-drawer .mud-toolbar {
    align-items: center;
    justify-content: space-between;
}

.app-drawer .page-header {
    display: flex;
    align-items: center;
}

.app-drawer .user-info {
    display: flex;
    align-items: center;
}

.app-drawer .top-bar-controls {
    display: flex;
}

/*CSS for login form*/
.login-form {
    margin-inline: 25%;
}
